<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find social_env_description)/robots/social_env.urdf.xacro'" />
    <param name="single_robot_description" command="$(find xacro)/xacro.py '$(find franka_description)/robots/panda_arm_hand.urdf.xacro'" />
    <include file="$(find social_moveit_config)/launch/planning_context.launch"/>
        
    <node name="planning_scene" pkg="constraint_planner" type="planning_scene" output="screen" > 
    </node>
</launch>

